@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assignment 2</h1>
    <p><strong>Server side Scripting assignment, </strong> </p>
    <p>This is an open source of phonebook contact manager, basically to manage your contacts online</p>
    <p>Learn about <a href="#">the Contact Manager sample application </a>.</p>
</div>
